.App {
  text-align: center;
  position: relative;
  .class-and-spec-selector {
    display: flex;
    flex-direction: column;
  }
  .selector-inputs {
    display: flex;
    flex-direction: row;
    div {
      flex: 1;
    }
    .class-selector {
      .dropdown-container {
        float: right;
      }
    }
  }
  .selector-header {
    font-size: 1em;
  }
  .results-wrapper {
    margin: 0 18px;
    margin-top: 12px;
    .found-players-header {
      text-align: left;
    }
  }
  .results {
    display: flex;
    flex-direction: column;
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  padding: 8px;
  font-size: 2em;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
